/* global rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables  */
:root {
   --main-color: hsl(75, 94%, 57%);
   --text-color:hsl(0, 0%, 100%);
   --background-color:hsl(0, 0%, 8%);
   --card-color:hsl(0, 0%, 12%);
   --btn-color:hsl(0, 0%, 20%);
}
body {
font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100svh;
}
.container {
    max-width: 26.7857rem;
    background-color: var(--card-color);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
}
.container .image img {
    max-width: 7rem ;
    border-radius: 50%;
    margin-bottom: 1rem;
   transition: 0.3s;
    
}
.container .image img:hover {
   outline: 2px solid var(--main-color);
}
.container h1 {
    color:var(--text-color) ;
font-family: "Inter", sans-serif;
    font-weight: 800;
    width: 17.8571rem;
    margin: 0 auto 0.5rem;
    font-size: 2.1rem;
    
}
.container h2 {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.container p {
    color: var(--text-color);
font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.container .btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.container .btns button {
    width: 100%;
    transition: 0.2s;
    padding: 0.5rem;
    color: var(--text-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}
.container .btns button:hover {
    background-color: var(--main-color);
    color: var(--background-color);
    cursor: pointer;
}
@media (max-width:400px){
    .container {
            max-width: 21rem;
            padding: 1.7rem;
        }
                .container p {
                    font-family: "Inter", sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                }
}


